
.myprojectcontainer
{
	width: 1000px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.myprojectcontainer .myprojectbox
{
	position: relative;
	width: 250px;
	cursor: pointer;
	height: 500px;
	background: #ccc;
	transition: 0.5s;
}
.myprojectcontainer .myprojectbox:hover {
	transform: scale(1.1);
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,1);

}
.myprojectcontainer .myprojectbox .myprojectthumb
{
	position: absolute;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.myprojectcontainer .myprojectbox:nth-child(odd) .myprojectthumb
{
	bottom: 0;
	left:0;

}

.myprojectcontainer .myprojectbox .myprojectthumb img
{
	width: 100%;

}
.myprojectcontainer .myprojectbox .myprojectdetails
{
	position: absolute;
	width: 100%;
	height: 250px;
	overflow: hidden;
	background: #262626;
}

.myprojectcontainer .myprojectbox:nth-child(even) .myprojectdetails
{
	bottom: 0;
	left:0;
}

.myprojectcontainer .myprojectbox:nth-child(1) .myprojectdetails
{
	background: #8553cb;
}
.myprojectcontainer .myprojectbox:nth-child(2) .myprojectdetails
{
	background: #fe8f01;
}
.myprojectcontainer .myprojectbox:nth-child(3) .myprojectdetails
{
	background: #79d400;
}
.myprojectcontainer .myprojectbox:nth-child(4) .myprojectdetails
{
	background: #ff3b34;
}
.myprojectcontainer .myprojectbox .myprojectdetails .myprojectcontent
{
	position: absolute;
	top: calc(50% + 16px);
	transform: translateY(-50%);
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}
.myprojectcontainer .myprojectbox:hover .myprojectdetails .myprojectcontent
{
	top:calc(50%);
}
.myprojectcontainer .myprojectbox .myprojectdetails .fa,
.myprojectcontainer .myprojectbox .myprojectdetails .fab,
.myprojectcontainer .myprojectbox .myprojectdetails .fas {
	font-size: 80px;
	color: #fff;
}
.myprojectcontainer .myprojectbox .myprojectdetails .myprojectcontent h3
{
	margin: 0;
	padding: 10px 0;
	color: #fff;

}
.myprojectcontainer .myprojectbox .myprojectdetails .myprojectcontent a
{
	display: inline-block;
	padding: 5px 20px;
	color:#fff;
	border:2px solid #fff;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 20px;
	transform: scale(0);
}

.myprojectcontainer .myprojectbox:hover .myprojectdetails .myprojectcontent a
{
	transform: scale(1);
}
.myprojectcontainer .myprojectbox .myprojectdetails .myprojectcontent a:hover
{
	background: #fff;
	color: #262626;
}
@media (max-width: 1000px)
{
	.myprojectcontainer
	{
		width: 100%;
		height: auto;
		padding: 20px;
		box-sizing: border-box;

	}
	.myprojectcontainer .myprojectbox
	{
		height: 250px;
	}
	.myprojectcontainer .myprojectbox .myprojectthumb
	{
		display: none;
	}
}
@media (max-width: 768px)
{
	.myprojectcontainer
	{
		display: initial;
	}
	.myprojectcontainer .myprojectbox
	{
		width: 50%;
		height: 250px;
		float: left;
	}
}
@media (max-width: 480px)
{
	.myprojectcontainer
	{
		top:0;
		left: 0;
		transform: translate(0);
	}
	.myprojectcontainer .myprojectbox
	{
		width: 100%;
		height: 250px;
		float: left;
	}
}