@import "../../SCSS/variables.scss";

#certificate_page {
  .certificate_page__main {
    .certificate_list_container {
      overflow-y: auto;
      height: 550px;

      max-width: 100%;
      width: 100%;

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 25px;
      }

      .active {
        background-color: $grey-scorpion;
        border-bottom: 5px solid $orange-anzac;
      }

      .nav-link h5 {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      @media (min-width: $md) {
        max-width: 40%;
        width: 40%;
      }
    }

    .tab-content {
      max-width: 100%;
      width: 100%;
    }

    @media (min-width: $md) {
      .content {
        max-width: 60%;
        width: 60%;
      }
    }

    @media (max-width: $md) {
      .certificate_list_container {
        height: unset;
      }

      #certificate-tab select {
        text-overflow: ellipsis;
        width: calc(100% - 2 * 8px);
      }

      .row > div:nth-child(1) {
        border-right: unset;
      }
    }

    .certificate_list_container:hover,
    .certificate_list_container:focus {
      &::-webkit-scrollbar {
        width: 10px;
        background: unset;
      }
    }

    #certificate-tabContent {
      iframe {
        height: 525px;

        @media (max-width: $md) {
          height: 325px;
        }
      }
    }
  }
}
