@import "scss/variables.scss";

$iframe-height: 475px;

#certificate_page {
    .section_content {
        width: 100%;

        .certificate_list {
            max-height: $iframe-height;

            .active {
                background-color: $grey-scorpion;
                border-bottom: 5px solid $orange-anzac;
            }

            .nav-link:hover {
                background-color: $grey-scorpion;
            }

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: darkgray;
                border-radius: 25px;
            }

            @media (min-width: $md) {
                max-width: 35%;
                width: 35%;
            }
        }

        .certificate-iframe {
            max-width: 100%;
            width: 100%;
        }

        .certificate-iframe {
            iframe {
                height: $iframe-height;

                @media (max-width: $md) {
                    height: 325px;
                }
            }
        }
    }
}
