#
# Owner: Rishabh Anand
# Desc: Git ignore file
#

# dependencies
/node_modules

package-lock.json
yarn.lock

# production
/build
/src copy

# temp
# TASK: Pending - Need to remove
# /src copy
node_modules
