@import "scss/variables.scss";

main {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar-track {
        border-radius: 0.6rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.6rem;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 122, 122)),
            color-stop(0.72, rgb(97, 97, 97)),
            color-stop(0.86, rgb(88, 88, 88))
        );
    }

    section {
        min-height: 100vh;
        padding: 1rem 0.25rem 1rem 0.25rem;

        &:nth-of-type(n) {
            background-color: $blue-tuna;
        }

        &:nth-of-type(2n) {
            background-color: $light-blue-tuna;
        }

        &:last-of-type {
            padding-bottom: 15px;
        }
    }

    @media (max-width: $lg) {
        section {
            min-height: unset;
            max-height: -webkit-max-content;
            max-height: -moz-max-content;
            max-height: max-content;
        }
    }
}
