@import "scss/_variables";
@import "scss/_functions";

.standard-button {
    min-height: 40px;
    min-width: 150px;
    padding: 10px 22px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;

    font-size: 16px;
    line-height: 19px; /* identical to box height, or 106% */
    letter-spacing: 0.04em;
    color: $blue-tuna;
    font-weight: 700;

    &.full {
        background-color: $grey-nobel;

        &:hover,
        &:focus {
            outline: none;
            background: $grey-scorpion;
            color: white;
            -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.249508);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.249508);
        }
    }

    &:hover,
    &:focus {
        outline: none;
        background: #bdbdbde0;
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.249508);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.249508);
    }

    &:active {
        background: #63e463;
    }

    &:disabled {
        background-color: lighten(#8cdd8c, 0%);
    }
}
