@import "../SCSS/variables.scss";

#landing_page {
  .p-t-50 {
    padding-top: 50px;
  }

  .landing_page__header__menu {
    a {
      font-size: 16px;
      position: relative;
      color: $grey-alto;
    }

    a:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    a::after {
      position: absolute;
      content: "";
      top: 110%;
      left: 0;
      width: 100%;
      height: 3px;
      background: $orange-anzac;
      transform: scaleX(0);
      transition: transform 0.5s;
      transform-origin: right;
    }

    // Navbar
    .navbar-brand {
      height: 55px;
      width: 55px;
    }

    .navbar-nav > .nav-link {
      margin-right: 16px;
      cursor: pointer;
    }

    /* DropDown */
    .dropdown-menu {
      background-color: rgba(67, 67, 70, 0.3);
    }

    .dropdown-menu a {
      margin: 4px 0;
    }

    .dropdown-menu a:hover {
      color: $orange-anzac !important;
    }

    a.dropdown-toggle:after {
      content: none;
    }

    @media (max-width: 991px) {
      .navbar-nav {
        background-color: #333;
        padding: 8px 0 20px 0;
      }
    }

    // Social

    ul li:last-child {
      margin-right: 15px !important;
    }

    ul li:hover:after {
      margin: 3px auto;
      display: block;
      width: 16px;
    }

    .landing_page__header__menu__social {
      border-left: 2px solid #737377;

      li {
        margin-right: 16px !important;
      }

      li:first-child {
        margin-left: 15px;
      }

      a svg {
        height: 23px;
        width: 23px;
        margin-bottom: 5px;
        fill: $grey-nobel;
      }

      a:hover svg {
        fill: $orange-anzac;
      }
    }
  }

  .landing_page__main {
    .p-t-130 {
      padding-top: 130px;
    }

    .landing_page__main__left {
      .horizontal-dash {
        margin-top: 31px;
        margin-bottom: 14px;
        width: 100px;
      }
    }

    .landing_page__main__right {
      .landing_page__main__right__bottom__text {
        font-size: 15px;
      }
    }

    @media (max-width: 768px) {
      .row {
        flex-direction: column;
        justify-content: center;
      }

      .landing_page__main__left {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      & > div {
        text-align: center;
      }
    }
  }
}
