@import "../SCSS/variables.scss";

#tech_i_know {
  .tech_i_know__main {
    .tech_i_know__main__card__holder {
      background-color: $light-blue-tuna;
      border-radius: 20px;

      .tech_i_know__main__card__holder__heading {
        text-decoration: underline;
        border-bottom: 2px solid rgb(202, 202, 202);
      }
      .tech_i_know__main__card__holder__main {
        transition: opacity 5s ease-out;

        .tech_i_know__main__card {
          height: 130px;

          .tech_i_know__main__card__hovered {
            border-bottom: 0.5px solid #807d7d;
            border-top: 0.5px solid #807d7d;

            align-self: center;
            h2 {
              text-align: center;
              font-family: "Architects Daughter", cursive;
            }
            h5 {
              text-align: left;
            }
            img {
              padding-left: 5px;
              height: 20px;
            }
            display: none;
            opacity: 0;
          }

          .tech_i_know__main__card__icon {
            flex: 1 1 0%;
            text-align: center;

            img {
              object-fit: cover;
              height: 70px;
            }
          }
        }

        .tech_i_know__main__card:not(:last-child) {
          border-bottom: 1px solid $light-blue-tuna;
        }

        .tech_i_know__main__card:hover,
        .tech_i_know__main__card:focus {
          .tech_i_know__main__card__hovered {
            display: block;
            opacity: 1;
          }

          .tech_i_know__main__card__icon {
            display: none;
          }
        }
      }
    }
  }
}
