@import "scss/variables.scss";

#education_details_page {
    .education_detail_card {
        background-color: $light-blue-tuna;
        border-width: 5px;
        border-style: solid;
        border-color: $light-blue-tuna;

        .front-image {
            height: 120px;
            width: 120px;
            fill: $grey-nobel;
        }

        &:hover {
            border-color: $orange-anzac;
            -webkit-transform: scale(1.015);
            -ms-transform: scale(1.015);
            transform: scale(1.01);

            .front-image {
                fill: $orange-anzac;
            }

            h3,
            p {
                color: $orange-anzac !important;
                font-weight: 700;
            }
        }
    }
}
