@import "../variables.scss";

#educationpage {
  padding-top: 25px;
  padding-bottom: 25px;

  .educationpage__main {
    margin-top: 50px;
  }

  .educationpage__main__card {
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: $base-bg-color1;
    flex-grow: 1;
    flex-basis: 0;
    .educationpage__main__card__icon {
      svg {
        height: 90px;
        width: 90px;
        fill: $base-text-color1;
      }

      svg:hover {
        fill: $base-text-color2;
      }
    }
  }
}
