@import "../variables.scss";

#educationpage {
  .educationpage__main__card {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: $base-bg-color2;
    flex-grow: 1;
    flex-basis: 0;
    .educationpage__main__card__icon {
      svg {
        height: 100px;
        width: 100px;
        fill: $base-text-color1;
      }
    }

    &:hover {
      transform: scale(1.05);
      svg {
        fill: $base-text-color2;
      }
      h3 {
        color: $base-text-color2 !important;
      }
    }
  }
}
