@import "../SCSS/variables.scss";

#education_details_page {
  .education_details_page__main__card {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: $light-blue-tuna;
    flex-grow: 1;
    flex-basis: 300px;

    .education_details_page__main__card__icon {
      svg {
        height: 100px;
        width: 100px;
        fill: $grey-nobel;
      }
    }

    &:hover {
      border-bottom: 5px solid $orange-anzac;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transform: scale(1.015);
      transition: transform 0.5s;
      svg {
        fill: $orange-anzac;
      }
      h3,
      p {
        color: $orange-anzac !important;
      }
    }
  }
}
