@import "../SCSS/variables.scss";

#about_me_page {
  .about_me_page__main {
    .about_me_page__main__left {
      text-align: center;
      img {
        height: 375px;
        border-radius: 8%;
      }
    }

    .about_me_page__main__right {
      p {
        font-size: 23px;
        line-height: 1.8rem;
        word-spacing: 8px;
        font-family: "Architects Daughter", cursive;

        span:hover {
          color: $orange-anzac;
          transition: all 0.3s;
          font-size: 100.25%;
          font-weight: 700;
        }
      }
    }
  }
}
