@import "../variables.scss";

section {
  min-height: 100vh;
}

section:nth-of-type(n) {
  background-color: $base-bg-color1 !important;
}

section:nth-of-type(2n) {
  background-color: $base-bg-color2 !important;
}

.img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: auto;
}

.text-secondary-color {
  color: $base-text-color2;
}

.horizontal-dash {
  width: 40px;
  height: 2px;
  background: $base-text-color2;
}

.custom-btn {
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: $base-text-color2;
  border: 2px solid $base-text-color2;
  width: 150px;
  height: 50px;
  line-height: 46px;
  letter-spacing: 0.12em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.custom-btn:hover {
  background: $base-text-color2;
  color: #000;
  transition: 0.3s ease-out;
}
