@import "../SCSS/variables.scss";

// Theme
// Starting

.text-secondary-color {
  color: $orange-anzac;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: auto;
}

.horizontal-dash {
  width: 100%;
  height: 3px;
  background: $orange-anzac;
}

.custom-btn {
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: $orange-anzac;
  border: 2px solid $orange-anzac;
  width: 150px;
  height: 50px;
  line-height: 46px;
  letter-spacing: 0.12em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.custom-btn:hover {
  background: $orange-anzac;
  color: #000;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

// Ending

section {
  min-height: 100vh;
}

@media (max-width: 991px) {
  section {
    min-height: unset;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}

section:nth-of-type(n) {
  background-color: $blue-tuna;
}

section:nth-of-type(2n) {
  background-color: $light-blue-tuna;
}
