@import "scss/variables.scss";

#skills-page {
    .category_container {
        .heading {
            border-bottom: 2px solid rgb(202, 202, 202);
        }

        .card {
            .ratings {
                img {
                    height: 20px;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid $light-blue-tuna;
            }
        }
    }
}
