@import "scss/variables.scss";

#skill_i_know {
    .category_container {
        background-color: $blue-tuna;

        .heading {
            border-bottom: 2px solid rgb(202, 202, 202);
        }

        .card {
            .content {
                -webkit-transition: opacity 200ms ease-out;
                -o-transition: opacity 200ms ease-out;
                transition: opacity 200ms ease-out;
                opacity: 0;
            }

            .skill-logo {
                height: 85px;
            }

            .ratings {
                opacity: 0;
                -webkit-transition: opacity 200ms ease-out;
                -o-transition: opacity 200ms ease-out;
                transition: opacity 200ms ease-out;

                img {
                    padding-left: 5px;
                    height: 20px;
                }
            }

            &:hover {
                .content {
                    opacity: 1;
                }
                .ratings {
                    opacity: 1;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid $light-blue-tuna;
            }
        }
    }
}
