@import "scss/variables.scss";

$iframe-height: 475px;

#certificate_page {
    .section_content {
        .stack_select {
            padding: 0.3rem 0.5rem;
            margin: 0.5rem 0.25rem;
            border-radius: 0.4em;

            &:hover {
                background-color: lighten($grey-scorpion, 40%);
                color: black;
            }

            &.active,
            &:nth-of-type(1) {
                background-color: $grey-scorpion;
            }

            &.active {
                border-bottom-left-radius: 0.1rem;
                border-bottom-right-radius: 0.1rem;
                border-bottom: 4px solid $orange-anzac;
            }
        }

        .certificate_list {
            max-height: $iframe-height;

            .active {
                background-color: $grey-scorpion;
                border-bottom: 5px solid $orange-anzac;
            }

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: darkgray;
                border-radius: 25px;
            }

            @media (min-width: $md) {
                max-width: 35%;
                width: 35%;
            }
        }

        .certificate-iframe {
            max-width: 100%;
            width: 100%;

            iframe {
                height: $iframe-height;

                @media (max-width: $md) {
                    height: 325px;
                }
            }
        }
    }
}
