@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: $base-bg-color1 !important;
  color: #dadada !important;
  scroll-behavior: smooth;
}

a {
  color: $base-text-color1;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: $base-text-color2;
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: $base-text-color2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #dadada;
  font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
}

h2 {
  font-size: 35px;
  line-height: 45px;
  color: #dadada;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #dadada;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
}

/* 

.bgp {
  background: #2e2e35;
}

.bgs {
  background: #34343b;
} */

/* .vc {
  height: 27px;
  width: 3px;
  background: #dadada;
  display: inline-block;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: -7px;
} */

/* .ct-btn {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #e4aa48;
  border: 2px solid #e4aa48;
  width: 150px;
  height: 50px;
  line-height: 46px;
  letter-spacing: 0.12em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
} */
/* 
.ct-btn:hover {
  background: #e4aa48;
  color: #000;
  transition: 0.3s ease-out;
} */

/* .mr-btn {
  font-size: 14px;
  line-height: 24px;
  color: #e4aa48;
  display: inline-block;
  cursor: pointer;
} */

/* .section-title h2 {
  margin-bottom: 11px;
  font-size: 35px;
  line-height: 45px;
  color: #dadada;
  font-weight: 700;
} */
/* 
.section-title p {
  margin-bottom: 13px;
} */

/* .btn-animation {
  position: relative;
} */
/* 
.btn-animation::after {
  position: absolute;
  content: "";
  top: 110%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e4aa48;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
} */

/* .btn-animation:hover::after {
  transform: scaleX(1);
  transform-origin: left;
} */

/* .section-ptb {
  padding-top: 120px;
  padding-bottom: 120px;
} */
/* .section-ptb-2 {
  padding-top: 120px;
  padding-bottom: 104px;
} */
/* .section-pt {
  padding-top: 120px;
} */
/* .section-pb {
  padding-bottom: 120px;
} */
/* pseudo classes */
*::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::selection {
  background: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #949494;
  font-size: 26px;
  text-align: center;
}

*:-ms-input-placeholder {
  color: #949494;
  font-size: 26px;
  text-align: center;
}

*::placeholder {
  color: #b5b5b5;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

*::focus {
  outline: none;
}

*::active {
  outline: none;
}

*::-moz-focus {
  outline: none;
}
