@import "./_variables";

section {
    @apply min-h-screen;
    @apply min-w-full;
    @apply snap-center;
    @apply overflow-x-hidden;

    &:nth-of-type(n) {
        background-color: $blue-tuna;

        .ri-heading-subHeading > span {
            background-color: $blue-tuna;
        }
    }

    &:nth-of-type(2n) {
        background-color: $light-blue-tuna;

        .ri-heading-subHeading > span {
            background-color: $light-blue-tuna;
        }
    }

    &:last-of-type {
        padding-bottom: 15px;
    }
}
