/*
 * Owner: Rishabh Anand
 * Desc: SCSS - Variables fonts, color , responsive size
*/

// Fonts
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Architects Daughter", "cursive";
$tertiary-font: "Concert One", "cursive";

// Colors
$white: #ffffff;
$grey-alto: #dadada;
$blue-tuna: #2e2e35;
$light-blue-tuna: #34343b;
$grey-scorpion: #5e5e5e;
$grey-nobel: #b8b7b7;
$alabaster: #fafafa;
$orange-anzac: #e4aa48;
$baltic-sea: #2a2a2a;

// Responsive size
$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1536px;

/* -------------------------------------------------------------------- */

$lightgray: #e5e5e5;
$mischka: #d2d3db;
