@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: $blue-tuna !important;
  color: $grey-alto;
  scroll-behavior: smooth;
}

// Typography
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 800;
}

h2 {
  font-size: 35px;
  line-height: 45px;
  color: $grey-alto;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 1.75rem;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: $grey-alto;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
}

.text-secondary-color {
  color: $orange-anzac;
}

// Anchor Tag
a {
  color: $grey-nobel;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $orange-anzac;
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: $orange-anzac;
  text-decoration: none;
}

li {
  list-style: none;
}

select {
  padding: 8px 16px;
  margin: 12px;
  background: $grey-scorpion;
  outline: 0;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  color: $white;
}

*::-moz-selection {
  background: $white;
  text-shadow: none;
}

::-moz-selection {
  background: $white;
  text-shadow: none;
}

::selection {
  background: $white;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #949494;
  font-size: 26px;
  text-align: center;
}

*:-ms-input-placeholder {
  color: #949494;
  font-size: 26px;
  text-align: center;
}

*::-moz-placeholder {
  color: #b5b5b5;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

*::-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

*::placeholder {
  color: #b5b5b5;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

*::focus {
  outline: none;
}

*::active {
  outline: none;
}

*::-moz-focus {
  outline: none;
}
