$blue-tuna: #2e2e35;
$light-blue-tuna: #34343b;
$grey-nobel: #b8b7b7;
$grey-scorpion: #5e5e5e;
$orange-anzac: #e4aa48;
$grey-alto: #dadada;
$white: #fff;

$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px;
